
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="row jumbotron">

    <div class="col-md-8">
        <h2>Biography</h2>
        <p>
            My name is Matthew Luke Morton and I attend the University of Pretoria, I am currently in my second year of BCom Informatics. I am studying to become a Software Developer or Business Analyst.
            I am a passionate gamer, I play different games from FIFA 22 to Gran Turismo 7 to Call of Duty Vanguard. Oh and by the way, Playstation over Xbox. I am really interested in sneakers although it is really difficult to find sneakers in SA at an affordable price due to the resale market. Tech is another one of my interests, tech is facinating and it makes our lives much easier.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Me</h2>
        <img src="~/IMG_3059 (1).jpg" alt="picture of me" width="350" height="400">
    </div>  

</div>
