@{
    ViewBag.Title = "Home Page";
}

<div>
    @ViewBag.Message;
</div>

<div class="row jumbotron">
    
    <div class="col-md-8">
        <h2>About the system</h2>
        <p>This is a media uploading system, it contains 5 different sections namely the Home page(the current page), Files page, Images page, Videos page and the About me page. This system allows us to upload different files such as images, videos and normal documents.</p>
    </div>

    <div class="col-md-4">
        <h2>Option Sellect</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    // Form with different radio buttons for Images, Videos and Documents
    <form>

        <div class="form-group">
            @Html.RadioButton("FileType", "Document")<span>Documents</span><br>
        </div>
        <div class="form-group">
            @Html.RadioButton("FileType", "Image")<span>Images</span><br>
        </div>
        <div class="form-group form-check">
            @Html.RadioButton("FileType", "Video")<span>Video</span><br>
        </div>
        <div class="form-group form-check">
            <input type="file" name="file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
        }
        </div>

</div>